.page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 32px; 
    font-family: var(--rockwell-bold);
  }
  
  .main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
  }
  
  .desc {
    margin-bottom: 1rem;
    color: white;
  }
  
  .dashboardBox {
    background: #311c4c;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    width: 80vw;
    max-width: 1500px; 
    text-align: left;
    position: relative;
  }
  
  .dashboardBox h2 {
    margin-bottom: 1rem;
    color: white;
    font-size: 3rem; 
    text-align: center;
  }
  
  .dashboardBox p {
    margin-top: 1rem;
    color: rgba(255, 255, 255);
    font-size: 1rem;
    text-align: left;
  }
  
  .loginButton {
    cursor: pointer;
    padding: 0.8rem;
    border: none;
    border-radius: 8px;
    background-color: #4de55d;
    color: white;
    font-size: 1rem;
    width: 100%; 
    font-family: var(--rockwell-bold);
  }
  
  .loginButton:hover {
    background-color: #41b649;
  }

  .columns {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr; /* First column smaller */
    gap: 16px;
    margin-top: 2rem;
  }
  
  .columnOne {
    background: #231335;
    padding: 1rem;
    border-radius: 8px;
    color: white;
    text-align: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .buttonRow {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .iconButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6ebf58;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--rockwell-bold);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .iconButton:hover {
    background-color: #EAEAEA;
    color: black;
  }
  
  .icon {
    width: 40px; 
    height: 40px; 
    object-fit: contain;
    margin-bottom: 0.5rem;
  }

  .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    margin-bottom: -2rem; /* Pull the image down */
  }
  
  .image {
    width: 250px; /* Adjust size as needed */
    height: auto;
    object-fit: contain;
    position: relative;
    top: -20px; /* Shift the image up */
    z-index: 1; /* Ensure it stays above other elements */
  }
  
  /* Enable hover only on non-touch devices */
  @media (hover: hover) and (pointer: fine) {
    a.primary:hover {
      background: var(--button-primary-hover);
      border-color: transparent;
    }
  
    a.secondary:hover {
      background: var(--button-secondary-hover);
      border-color: transparent;
    }
  
    .footer a:hover {
      text-decoration: underline;
      text-underline-offset: 4px;
    }
  }
  
  /* Responsive styles for smaller screens */
  @media (max-width: 600px) {
    .page {
      padding: 16px; 
      gap: 16px;
    }
  
    .main {
      align-items: center;
      gap: 16px;
    }
  
    .loginBox {
      width: 90%; 
      padding: 1.5rem; 
    }
  
    .loginBox h2 {
      font-size: 1.5rem; 
    }
  
    .footer {
      gap: 12px; 
    }

    .columns {
        grid-template-columns: 1fr;
    }
    
    .iconButton {
        font-size: 0.9rem;
        padding: 0.8rem;
    }
    
    .icon {
        width: 30px;
        height: 30px;
    }
  }

